<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.ionicframework.yourpackagename"
version="0.0.1"
xmlns="http://www.w3.org/ns/widgets"
xmlns:cdv="http://cordova.apache.org/ns/1.0"
xmlns:gap="http://phonegap.com/ns/1.0">

<!-- versionCode is optional and Android only -->

  <name>PhoneGap Example</name>

  <description>
      Il mio test con phonegap
  </description>

  <author href="https://ifustiveneti.beer" email="support@phonegap.com">
      Marco Bullo
  </author>

  <icon src="icon.png" width="180" height="180" />

</widget>
