<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="org.myapp.sample" version="1.0.0">
  <name>appSample</name>
  <description>Hello World sample application that responds to the deviceready event.</description>

  <author href="https://ifustiveneti.beer" email="support@phonegap.com">
      Marco Bullo
  </author>

  <icon src="icon.png" width="180" height="180" />
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
</widget>
